@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
/* utility clasess */
.cursor__pointer {
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.flex__column {
  display: flex;
  flex-direction: column;
}
.justify__center {
  justify-content: center;
}
.gap__5px {
  gap: 0.5rem;
}
.gap__10px {
  gap: 1rem;
}

.gap__20px {
  gap: 2rem;
}
.gap__40px {
  gap: 4rem;
}
/* Typography */
.white__color__typo__500 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
/* font size */
.fs20px {
  font-size: 2rem;
}

/* margin */
.mt__20px {
  margin-top: 2rem;
}
/* login */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.premiun__btn {
  background: #d3694f !important;
  padding: 1rem !important;
  color: white !important;
  font-size: 1rem !important;
}
.disable__btn {
  background: gray !important;
  padding: 1rem !important;
  color: white !important;
  font-size: 1rem !important;
}
.login__btn {
  background: #d3694f !important;
  padding: 1rem !important;
  color: white !important;
  font-size: 1rem !important;
}
.form__container {
  width: 35rem;
  border-radius: 8px;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.2) 0%,
    rgba(237, 30, 36, 0.2) 60%,
    rgba(0, 212, 255, 0.2) 100%
  );
}
.inp {
  border: none;
  border-radius: 8px;
  padding: 1rem;
}
.inp:focus {
  outline: none;
}
/* home */
.home__container {
  min-height: 100vh;

  display: grid;
  /* grid-template-columns: 200px 1fr; */
  grid-template-columns: 1fr;
}
.sidebar {
  display: flex;
  justify-content: center;
  background: #2c3856;
  padding-top: 5rem;
}
.hero__section {
  padding: 2rem;
  background: #11162a;
}
.music__card {
  border-radius: 8px;
}
.card__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
.truncate {
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add__card {
  background: gray;
  height: 100%;
  min-height: 150px;

  border-radius: 8px;
}
.addMusicDialogue .MuiDialog-paper {
  background: #a8d8b9 !important;
}
.img__upload__container {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 8px;
}
.img__upload {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* media queries */
@media (max-width: 1000px) {

  .card__container {
    grid-template-columns: repeat(4, 1fr);
  }

}
@media (max-width: 800px) {
  html{
    font-size: 60%;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .home__container {
    grid-template-columns: 1fr;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 600px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 350px) {
  .card__container {
    grid-template-columns: 1fr;
  }
}
